<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wclem12.com.agameofyou">
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light" >
        <activity
            android:name=".activity.MyBookshelfActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Title Page -->
        <activity
            android:label="Title Page"
            android:name=".activity.TitlePageActivity">
        </activity>

        <!-- Story About Page -->
        <activity
            android:label="Story About Page"
            android:name=".about_story.AboutStoryActivity">
        </activity>

        <!-- Story Page -->
        <activity
            android:label="Story"
            android:name=".page.PageActivity">
        </activity>

        <!-- Settings Page -->
        <activity
            android:label="Settings"
            android:name=".settings.SettingsActivity">
        </activity>

        <!-- About Page -->
    </application>
</manifest>
